*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    background-image: url(https://avatars.mds.yandex.net/i?id=87de25bfffe1a92f1a577faedab05602c0063f6e-10572648-images-thumbs&n=13) ;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position:center;
    background-attachment:  fixed;
    font-size: 80px;

}
body:hover{
    color :  blue;
}